#u1675{background:transparent url("../images/butqpx.jpg?crc=4247116024") no-repeat left top;}#u112-4{-webkit-transition-duration:0s;-webkit-transition-delay:0s;transition-duration:0s;transition-delay:0s;background-image:url("../images/blank.gif?crc=4208392903");background-color:transparent;line-height:39px;color:#FFFFFF;font-size:16px;text-align:center;font-family:museo-sans, sans-serif;font-weight:100;}#u135-4{-webkit-transition-duration:0s;-webkit-transition-delay:0s;transition-duration:0s;transition-delay:0s;background-image:url("../images/blank.gif?crc=4208392903");background-color:transparent;line-height:39px;color:#FFFFFF;font-size:16px;text-align:center;font-family:museo-sans, sans-serif;font-weight:100;}#u248-4{-webkit-transition-duration:0s;-webkit-transition-delay:0s;transition-duration:0s;transition-delay:0s;background-image:url("../images/blank.gif?crc=4208392903");background-color:transparent;line-height:39px;color:#FFFFFF;font-size:16px;text-align:center;font-family:museo-sans, sans-serif;font-weight:100;}#u132-4{-webkit-transition-duration:0s;-webkit-transition-delay:0s;transition-duration:0s;transition-delay:0s;background-image:url("../images/blank.gif?crc=4208392903");background-color:transparent;line-height:39px;color:#FFFFFF;font-size:16px;text-align:center;font-family:museo-sans, sans-serif;font-weight:100;}#u112-4:hover,#u135-4:hover,#u248-4:hover,#u132-4:hover{-webkit-transition-duration:0.7s;-webkit-transition-delay:0s;-webkit-transition-timing-function:ease;transition-duration:0.7s;transition-delay:0s;transition-timing-function:ease;background-color:#1D2429;}#u109{background-color:#1D2429;}#u456{background-color:#181818;}#u477-4{background-color:transparent;line-height:19px;color:#FFFFFF;font-size:16px;text-align:center;font-family:museo-sans, sans-serif;font-weight:100;}#u474-4{background-color:transparent;line-height:19px;color:#FFFFFF;font-size:16px;text-align:center;font-family:museo-sans, sans-serif;font-weight:100;}#u477-4:hover p,#u474-4:hover p{font-size:16px;}
nav{
	display: flex;
	justify-content: space-around;
	/*align-items: center;*/
	width: 100vw;
	height: 3em;
	background: #b30003;
	background: -webkit-linear-gradient(left, #b30003, #5a0000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #b30003, #5a0000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #b30003, #5a0000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(right, #b30003, #5a0000); /* Standard syntax */
	border-bottom: 5px black solid;
}


nav a{
	flex: 1;
	line-height: 2em;
	text-align: center;
	color: white !important;
	text-decoration: none !important;
	font-size: 1.5em;
	text-transform: uppercase;
	font-family: museo-sans, sans-serif;
	font-weight: 100;
	transition: background-color 500ms ease-in-out;
	display: block;
	height: 100%;
}

nav a:hover{
	background-color: black;
	color: white;
}

@media only screen and (max-width : 992px) {
	nav{
		flex-direction: column;
		height: auto;
	}
}